img {
  max-width: 100%;
}

.grid-element {
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #666;
  position: relative;
  background: grey;
}

.grid-element span {
  position: absolute;
  background-color: rgba(200, 200, 200, 0.6);
  height: 80px;
  width: 80px;
  font-size: 3rem;
  color: black;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
}
