body {
  background: #444;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.circle {
  margin-top: 3rem;
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding-left: 50px;
  background: linear-gradient(to left, 
  #fff, 
  #fff 50%, 
  #000 50%, 
  #000);
}

.yinyang {
  position: relative;
  background: #fff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: linear-gradient(to left, 
  #fff, 
  #fff 50%, 
  #000 50%, 
  #000);
}

.yinyang:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 18px solid #000;
}

.yinyang:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 18px solid #fff;
}