.game-wrapper {
  height: 100vh;
  width: 100vw;
  background: $dark-color;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Mochiy Pop P One', sans-serif;
  align-content: center;
  flex-wrap: wrap;
}

.left-pane {
  width: 30%;
  height: 100vh;
  background: $pink-light;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.right-pane {
  flex: 1;
  color: white;
}