@import "settings/reset.scss";
@import "settings/variables.scss";
@import "layouts/container.scss";
@import "components/start.scss";
@import "components/hangman.scss";
@import "components/word.scss";
@import "components/lives.scss";

.display-none {
  display: none;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.word-flex {
  margin-bottom: 5rem;
}