.right {
  text-align: right;
}

#two {
  color: red;
}

.small {
  font-size: 7pt;
}

.outer > .inner {
  background-color: aqua;
}

div + p {
  color: green;
}

div ~ p {
  /* font-weight: bold; */
  color: red;
}