.lives {
  position: absolute;
  bottom: 0;
  right: 2rem;
  background: url('https://www.freeiconspng.com/thumbs/heart-png/heart-png-15.png');
  height: 50px;
  background-size: 50px;
  background-repeat: repeat no-repeat;
  background-blend-mode: luminosity;
}

@for $i from 1 through 6 {
  .lives-#{$i} {
    width: 50px * $i;
  }
}

