.start-button {
  font-family: 'Mochiy Pop P One', sans-serif;
  background: $pink-light;
  padding: 1rem 2.5rem;
  display: inline-grid;
  place-items: center;
  font-size: 2rem;
  color: $dark-color;
  border-radius: 15px;
  border: 2px solid $pink-dark;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 150ms ease-in-out, background 150ms ease-in-out;
  cursor: pointer;
    
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: repeating-linear-gradient(to right, transparent, transparent 5px, $pink-dark 5px, $pink-dark 10px), $pink;
    border: 2px solid $pink-dark;
    border-radius: 15px;
    transform: translate3d(0, 1.5rem, -2rem);
    box-shadow: 0px 15px 4px -2px rgba($pink, 0.25);
      transition: transform 150ms ease-in-out, box-shadow 150ms ease-in-out;
  }
  
  &:active, &:hover {
    transform: translate(0, 0.5rem);
    background: darken($pink-light, 2.5%);
    
    &::before {
      transform: translate3d(0, 1rem, -2rem);
      box-shadow: 0px 10px 4px -2px rgba($pink, 0.25);
    }
  }

  &--letter {
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}